menu "LGFX_Fonts: GFX library selection"

    config LGFX_FONT_USE_GFX
        bool "Use LovyanGFX/M5GFX component"
        default y

    choice LGFX_FONT_GFX
        bool "GFX Library choice"
        default LGFX_FONT_USE_LOVYANGFX

    config LGFX_FONT_USE_LOVYANGFX
        bool "LovyanGFX"

    config LGFX_FONT_USE_M5GFX
        bool "M5GFX"

    endchoice

endmenu
